.row {
    padding:30px;
}
div{
    background-color: #e4aa3e;
    text-align: center;
}

/*estilo foto portfolio*/
@media (min-width: 990px) {
    #fotoportfolio {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        bottom: 23%;
    }
}

@media (max-width: 989px) {
    #fotoportfolio {
        /* position: absolute; */
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        /* left: 2%;
        bottom: 23%; */
    }
}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 5%;
}
.prueba {
    position: relative;
    height: 100%;
}