<div class="row">
    <h1>Educación</h1>

    <div class="col-lg-10">
        <ul>
            <li><h1>Educación 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere fugit praesentium nesciunt laboriosam ratione! Unde harum ipsa quisquam commodi autem facilis similique, nesciunt, suscipit assumenda itaque, omnis vero aliquam?
            </p>
        </ul>
        <ul>
            <li><h1>Educación 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere fugit praesentium nesciunt laboriosam ratione! Unde harum ipsa quisquam commodi autem facilis similique, nesciunt, suscipit assumenda itaque, omnis vero aliquam?
            </p>
        </ul>
        <ul>
            <li><h1>Educación 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere fugit praesentium nesciunt laboriosam ratione! Unde harum ipsa quisquam commodi autem facilis similique, nesciunt, suscipit assumenda itaque, omnis vero aliquam?
            </p>
        </ul>
        <ul>
            <li><h1>Educación 4</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere fugit praesentium nesciunt laboriosam ratione! Unde harum ipsa quisquam commodi autem facilis similique, nesciunt, suscipit assumenda itaque, omnis vero aliquam?
            </p>
        </ul>
    </div>
</div>


