.row{
    padding:30px;
}
div{
    background-color: #e4aa3e;
}

li {padding: 10px;}
h1,h3 {
    display: inline;
}
/* Ver como dejar un espacio entre el borde y trabajos*/
/*¿modificar borde, el padding de ul, insertar mas columnas? */
