.container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#LogoArP{
    width: 150px;
 }
#yopro{ 
    font-family: Encode Sans,Arial,sans-serif;
    color: white;
    font-weight: 700;
    padding: 30px;  
}
.redes {
    margin-right: 0.5em;
 }
img  {
    width: 50px;
}
.btn{
    border-width: medium;
 }
   /*celu vista*/
   @media (max-width:575px){
    .container{ 
    flex-direction: column;
 }
 .redes{ 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .redes img{
    margin: 0.2em ;
  }
}

  /*acomodar header sigue saliendo linea blanca*/
  /*acomodar yo programo*/