<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-5 col-md-12 col-lg-12">
         <h1>Portfolio Web</h1>
         <p>Portfolio web implementando JWT con Spring Boot y Angular | 
             Ministerio de Desarrollo Productivo de la Nación y Cámara de la Industria Argentina del Software (CESSI) | 
             feb. 2022 - oct. 2022 | 
            Segunda etapa del Plan Argentina Programa: #YoProgramo.</p>
    </div>
</div>
    <div class="col-sm-12 col-md-4 col-lg-4 offset-md-2 offset-lg-2">
        <img src="../../../assets/proyecto.PNG" class="img-fluid img-pro">
        
    </div>
</div>
