#LogoArP{
    width: 150px;
 }
#yo-programo{ 
    font-family: Encode Sans,Arial,sans-serif;
    color: white;
    font-weight: 700;
    padding: 30px;
}
#redes{
 }
img  {
    width: 50px;
}

  /*como corno acomodo todo esto*/