.row {
    padding:30px;
}
div{
    background-color: #e4aa3e;
    text-align: center;
}
/*estilo foto portfolio*/
@media (min-width: 576px){
    #fotoportfolio{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
       left: 3%;
       top: 450px;
    }

}
@media (max-width: 575px){
    #fotoportfolio{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
       left: 33%;
       top: 450px;
    }

}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 5%;

}